<app-header
    [isShowBtnBack]="false"
    [isShowMenu]="false"
    />

<main>
    <form class="form" #form="ngForm">
        <h2>Create your Account</h2>

        <label for="email">
            Email:
            <input
                type="email"
                id="email"
                placeholder="Email"
                #email="ngModel"
                [ngModel]="email.value"
                required
                />
        </label>

        <label for="pass" class="pass">
            Pass:
            <input
                type="text"
                id="pass"
                placeholder="Password"
                #pass="ngModel"
                [ngModel]="pass.value"
                required
                />
        </label>

        <label for="name">
            Name:
            <input
                type="text"
                id="name"
                placeholder="Name"
                #name="ngModel"
                [ngModel]="name.value"
                required
                />
        </label>

        <label for="phone">
            Phone:
            <input
                type="text"
                id="phone"
                placeholder="Phone"
                #phone="ngModel"
                [ngModel]="phone.value"
                required
                />
        </label>

        <label for="typeLocation" class="typeLocation">
            Location:
            
            <label>
                <input
                    type="radio"
                    name="typeLocation"
                    placeholder="Type Location"
                    value="House"
                    required
                    />
                    House
            </label>

            <label>
                <input
                    type="radio"
                    name="typeLocation"
                    placeholder="Type Location"
                    value="Department"
                    required
                    />
                    Department
            </label>

            <label>
                <input
                    type="radio"
                    name="typeLocation"
                    placeholder="Type Location"
                    value="Other"
                    required
                    />
                    Other
            </label>
        </label>

        <label for="delivaryTo">
            Delivary To:
            <input
                type="text"
                name="delivaryTo"
                placeholder="Delivary To"
                required/>
        </label>

        <div class="btns">
            <button
                type="submit"
                class="btn-create"
                (click)="create(form)"
                >
                Create
            </button>

            <button
                type="submit"
                class="btn-cancel"
                (click)="cancel()"
                >
                Cancel
            </button>
        </div>

        <div class="msgError">
            {{ requestErrorMsg() }}
        </div>
    </form>
</main>

<app-footer/>
