<app-header
    [isShowBtnBack]="false"
    [isShowMenu]="false"
    />

<main>
    <form class="login" #form="ngForm">
        <h2>Get In!</h2>

        <label for="user">
            User:
            <input
                type="text"
                name="user"
                placeholder="User"
                #user="ngModel"
                [ngModel]="user.value"
                required
                />
        </label>

        <label for="pass">
            Pass:
            <input
                type="password"
                name="pass"
                #pass="ngModel"
                [ngModel]="pass.value"
                placeholder="Password"
                />
        </label>

        <div>
            <button
                type="submit"
                class="btn-add"
                (click)="login(form)"
                [disabled]="!form.valid"
                >
                I'am hungry!
            </button>
        </div>

        <div class="btnCreateUser">
            <a (click)="navToCreateUser()">Create user</a>
        </div>
    </form>
</main>

<app-footer/>
